# ======== 프론트엔드 =========
# Client
NEXT_PUBLIC_API_BASE_URL=/api
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# ======== 백엔드 =========
# 공통
# 개발용 로컬 데이터베이스
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/lms_next_nestjs_dev?schema=public

# SSL 인증서 (필요 시)
SSL_CA_PATH=/etc/ssl/certs/global-bundle.pem

# JWT 설정
JWT_ACCESS_SECRET=your-access-secret-key
JWT_REFRESH_SECRET=your-refresh-secret-key
JWT_EXPIRESIN=24h

NODE_ENV=development

# Auth Service
PORT=4000

# API
API_PORT=4001
AUTH_SERVICE_URL=http://localhost:4000
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# AWS
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
S3_BUCKET_NAME=your-s3-bucket-name
CLOUDFRONT_DOMAIN=https://your-cloudfront-domain.cloudfront.net

# AUTH
FRONTEND_URL=http://localhost:3000

REFRESH_TOKEN_SECRET=your-refresh-token-secret

# Redis 설정
REDIS_HOST=localhost
REDIS_PORT=6379

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# GitHub OAuth
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

# 🔐 Secret Key 생성 참고
# openssl rand -base64 33
